*{
  padding: 0;
  margin: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
}

.divider {
  margin: 2rem auto;
}

.context-ex {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
.context-ex button {
  background-color: #eee;
  padding: .5rem 2rem;
  border: 1px #eee solid;
  border-radius: 16px;
}
.language-switcher {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  gap: 1rem;
}
.language-switcher select {
  background-color: #eee;
  padding: .5rem 2rem;
  border: 1px #eee solid;
  border-radius: 16px;
}
.language-switcher select:focus-visible {
  border: 1px solid lightblue;
}

